bin/
obj/
out/
**/bin/
**/obj/
**/out/

.vs/
.vscode/
.dotnet/

.git/
.gitignore
.dockerignore
Dockerfile*
docker-compose.yml
**/*.md

**/dados/
.env

ConfiguracoesGerais.ini
TogglUsuarios.ini
TogglTagsCache.ini
JiraListasCache.ini
JiraCores.ini
RelatorioParametros.ini
RelatorioData.ini
GantParametros.ini
GantData.ini
Sprints.ini
SprintData.ini
JiraSprintData.ini